@import "../../../../../_InitialData/Sass/colors";
@import "../../../../../_InitialData/Sass/resetes";
header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top :0;
  @include transation-ease;
}
header.active{
  background : $text-color;
  color : #fff !important;
  @include transation-ease;
}


.header-content {
  width: 80%;
  height: 100%;
  position: relative;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 1rem;
  height: 20px;
  width: 30px;
  cursor: pointer;
  @include transation-ease;
  &__hamberMenu {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: $primary-color;
    @include transation-ease;
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: $primary-color;
      @include transation-ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 28px;
      height: 3px;
      background: $primary-color;
      @include transation-ease;
    }
    &.open {
      transform: rotate(720deg);
      background: transparent;
      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }
      &::after {
        transform: rotate(-45deg) translate(3px, -7px);
        width: 28px;
      }
    }
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 75px;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
  .headers{
    background : #000000 !important;
  }
  .menu-nav {
    position: fixed;
    left: right;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    list-style-type: none;
    padding-right: 1rem;
    overflow: hidden;
    transform: translateY(-100%);
    background: $trasnparent-dark;
    @include transation-ease;
    &.open {
      transform: translateY(0);
    }
    &__item {
      transform: translateX(100vw);
      @include transation-ease;
      padding: 15px 0;
      &.open {
        transform: translateX(0);
      }
      &.active > a {
        color: $red-darken-2;
      }
    }
  }
  &__link {
    display: inline-block;
    font-size: 2rem;
    text-transform: unset;
    padding: 2rem 0;
    font-weight: 300;
    @include transation-ease;
    &:hover {
      color: $red-darken-2;
    }
  }
}

@for $i from 1 through 7 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s)+0.15s;
  }
}
a.btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.8;
  border-radius: 5px;
  background: $red-darken-2;
}
