$yellow-darken-2 : #FFF101;
$red-darken-2 : #FA7660;
$red-darken-3 : #F66559;
$primary-color : #ffffff;
$text-color : #212121;
$text-color-white : #a0a0a0;
$dark-darken-4 : #000000;
$dark-darken-1 : #d9d9d9;
$trasnparent-dark : rgba(0,0,0,0.9);
$slider-back-gradiant : linear-gradient(to right , $dark-darken-4 , $text-color);
$footer-back-gradiant : linear-gradient(to top , $dark-darken-4 , $text-color);